h1 {
  font-family: Montserrat;
  font-size: 50px;
  color: darkred;
  margin-top: 10px;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
  font-style: italic;
  font-size: 20px;
}

h3,
h4 {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 50px;
  font-weight: bold;
}

p {
  line-height: 1.5;
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  border-width: 1px;
  background-color:lightblue;
  border-style: solid;
  border-color: black;
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
